@font-face {
    font-family: 'latin_modern_roman10BdIt';
    src: url('lmroman10-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10_bold';
    src: url('lmroman10-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10_italic';
    src: url('lmroman10-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman10_regular';
    src: url('lmroman10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_caps10Ob';
    src: url('lmromancaps10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_caps10Rg';
    src: url('lmromancaps10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_demi10Ob';
    src: url('lmromandemi10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_demi10Rg';
    src: url('lmromandemi10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_dunhil10Ob';
    src: url('lmromandunh10-oblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_dunhil10Rg';
    src: url('lmromandunh10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_slante10Bd';
    src: url('lmromanslant10-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latin_modern_roman_slante10Rg';
    src: url('lmromanslant10-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
